<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My test suite">
    <suite-files>
        <suite-file path="./src/main/resources/suitefile/loginpagetest.xml"></suite-file>
        <suite-file path="./src/main/resources/suitefile/parallelbrowser.xml"></suite-file>
        <suite-file path="./src/main/resources/suitefile/sidebarmenu.xml"></suite-file>
        <suite-file path="./src/main/resources/suitefile/productorder.xml"></suite-file>
    </suite-files>
</suite>